.boton-clear {
    height: 80px;
    font-size: 1.6em;
    display: flex;
    flex: 1;
    background-color: #7F7F7F;
    margin-top: 8px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: white;
    cursor:pointer;
    border-radius: 45px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.9);
    border:1px solid black;
}

.boton-clear:hover{
    background-color: #012030 ;
}